body {
  font-family: sans-serif;
  padding: 20px;
  background: #f7f7f7;
}

button {
  padding: 6px 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.hidden { 
  display: none; 
}
#applyFilters{
  background-color: blue;
  height: 25px;
}
#cancelPaymentBtn {
  background-color: #ccc;
  color: #333;
  margin-left: 10px;
}
#payment_dues_table{
  margin-top: 20px;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
.payment-container{
  width: 100%;
}